body {
  background-color: #000000;
  margin: 0px;
  font-size: 12px;
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
}
#fps{
  color: #777;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
