body{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
}
#wrapper{
	margin: 0 auto;
	width: 300px;
	background-color: #f3f3f3;
	position: relative;

}
.box {
	position:absolute;
	width: 300px;
	height: 200px;
	overflow: hidden;
}
img {
	width:100%;
}
#width{
	margin:30px 0;
	text-align: center;
}