body{
	overflow: hidden;
}
#menu-button{
	width: 47px;
	height: 152px;
	position: absolute;
	right: 0px;
	top: 196px;
	background-image: url('../images/menu-button.png');
}
#menu-button:hover{
	background-position: -47px 0;
}

#menu-container{
	width: 276px;
	height: 276px;
	position: absolute;
	right: 0px;
	top: 200px;
	display: none;
	
}
.menu-item{
	position: absolute;
}
#close{
	top: -20px;
	right: 0px;
	width: 0px;
	height: 138px;
	z-index: 50;

}
#whats-new{
	top: -20px;
	right: 130px;
	width: 0px;
	height: 138px;
	z-index: 40;
}
#good-to-know{
	top: 118px;
	right: 138px;
	width: 138px;
	height: 0px;
	z-index: 30;
}
#global-connections{
	top: 138px;
	left: 118px;
	width: 0px;
	height: 138px;
	

	z-index: 20;
}