
body{
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
	
}

#clicktospin{
	position: absolute;
	width: 180px;
	height: 96px;
	background-image: url(../images/sprite.png);
	background-position: 0 -160px;
	
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
#swatch-tooltip{
	position: absolute;
	width: 181px;
	height: 108px;
	background-image: url(../images/sprite.png);
	background-position: 0 -260px;
	left: 417px;
	bottom: 63px;
	
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
#swatch-line2{
	float:left;
}
#swatch-line2{
	float:left;
}

#menu-button{
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 14px;
	left: -35px;
	z-index: 15;
	cursor: hand; 
	cursor: pointer;
	background-image: url(../images/sprite.png);
	background-position: -40px -120px;
}
#button{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 3000px;
	height: 3000px;
	z-index: 5;
	cursor: hand; 
	cursor: pointer;
}
#control-bar{
	position: absolute;
	bottom: 0px;
	
	height: 59px;
	width: 100%;
	background-color: #111111;
	border-top: 1px solid #383838;
	z-index: 10;
}


#line-width .text{
	float: left;
	height: 39px;
	margin: 23px 10px 0 20px;
	width: 91px;
	background-image: url(../images/sprite.png);
	
}
#line-width .textfield {
	float: left;
	text-align: center;
	width: 36px;
	height: 24px;
}
#line-quantity .text{
	float: left;
	height: 39px;
	margin: 23px 10px 0 15px;
	width: 82px;
	background-image: url(../images/sprite.png);
	background-position: -120px 0;
	
}
body #control-bar .text {
	margin-top: 23px;
}
#line-quantity .textfield {
	float: left;
	text-align: center;
	width: 36px;
	height: 24px;
}


#color .text{
	float: left;
	height: 39px;
	margin: 23px 10px 0 10px;
	width: 34px;
	background-image: url(../images/sprite.png);
	background-position: 0 -40px;
	
}

#color .dropdown {
	position: relative;
	float: left;
	width: 80px;
	height: 19px;
	padding: 5px 0 0 10px;
	cursor: hand; 
	cursor: pointer;
	margin-right:25px;
}
.dropdown .arrow{
	position: absolute;
	right: 8px;
	top: 11px;
	width: 7px;
	height: 4px;
	background-image: url(../images/sprite.png);
	background-position: 0 -80px;
}


.swatch{
	float: left;
	height: 22px;
	width: 22px;
	margin: 16px 6px 0 0;
	border: 1px solid #090909;
	background-color: #ccc;
	cursor: hand; 
	cursor: pointer;
}

#hide{
	float: right;
	margin: 14px 15px 0 0;
	height: 30px;
	width: 30px;
	background-image: url(../images/sprite.png);
	background-position: 0 -120px;
	cursor: hand; 
	cursor: pointer;
}
#popupcolors{
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	display:none;
	position: absolute;
	top: -232px;
	left: 0px;
	width: 90px;
	height: 225px;
}

.dropitem{
	height: 22px;
	padding: 6px 0 0 5px;
}

.dropitem:hover{
	background-color: #2d2d2d;
}

.form-style{
	border: 1px solid #000;
	background-color: #2e2d2d;
	color: #c0c0c0;
	
	margin:15px 10px 0 0;
}

.rounded {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


@media screen and (max-width:900px) {

    #control-bar{
		height: 79px;
	}
	#swatch-line2 .swatch{
		margin-top:5px;
	}
	body #control-bar .text {
		margin-top: 33px;
	}
	.form-style{
		margin-top: 25px;
	}
	#hide{
		margin-top: 24px;
	}
	#menu-button{
		bottom: 24px;
	}
	#swatch-line1 .swatch {
		margin-top: 12px;
	}
	#swatch-tooltip{
		bottom:83px;
	}
	
}

@media screen and (max-width:880px) {
	
}